<%- layout("../boilerplate.ejs") %>

  
    <div class="row mt-3">
        <div class="col-8 offset-4">
            <br>
            <h2>Create new Listing</h2>

    <form method="post" action="/listings" class="needs-validation was-validated" enctype="multipart/form-data" novalidate >

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="type the title" class="form-control"
            required>
            <div class="valid-feedback">
                Looks good!
              </div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">description</label>
        <textarea type="text" name="listing[description]" class="form-control" placeholder="give the description" required></textarea>
        <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">updload image</label>
        <input type="file" name="listing[image]" class="form-control" required>
        <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="row">
        <div class="mb-3 col-4">
            <label for="price" class="form-label">price</label>
        <input type="number" name="listing[price]" class="form-control" placeholder="what's the price" required>
        <div class="valid-feedback">
            Looks good!
          </div>
        </div>

        <div class="mb-3 col-8">
            <label for="country" class="form-label">country</label>
        <input type="text" name="listing[country]" class="form-control" placeholder="type the country of the place" required>
        <div class="valid-feedback">
            Looks good!
          </div>
        </div>
    </div>

        <div class="mb-3">
            <label for="location" class="form-label">location</label>
        <input type="text" name="listing[location]" class="form-control" placeholder="where is the place" required>
        <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <br>
       
        <button class="btn btn-dark btn-add mt-3">submit</button>
        
        </form>
        <br><br>
    </div>
</div>
